spring:
  datasource:
    url: jdbc:mysql://localhost:3306/deworder?useSSL=false&useUnicode=true&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver
  profiles:
    include: dew
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher


server:
  servlet:
    encoding:
      charset: UTF-8
      force: true
      enabled: true
  port: 8081

feign:
  okhttp:
    enabled: true
  autoconfiguration:
    jackson:
      enabled: true
